<div class="container">
  <div class="row">
    <section class="main col-md-12">
      <article>
       <h2>About</h2>
       <p>Since I covered what this assignment was about on the 'Home' page, I think i'll continue to provide things I think are interesting on this page.</p>
       </article>
    <section class="main col-md-3">
      <aside>
        <img src="public/css/jung.png"alt="Carl Jung">
        <p><sub>Carl Gustav Jung</sub></p>
      </aside>
    </section>
    <section class="main col-md-6">
      <article>
        <p>It must be pointed out that just as the human body shows a common anatomy over and above all racial differences, so, too, the psyche possesses a common substratum transcending all differences in culture and consciousness. I have called this substratum the collective unconscious. This unconscious psyche, common to all mankind, does not consist merely of contents capable of becoming conscious, but of latent dispositions towards certain identical reactions. Thus the fact of the collective unconscious is simply the psychic expression of the identity of brain-structure irrespective of all racial differences. This explains the analogy, sometimes even identity, between various myth-motifs, and symbols, and the possibility of human beings making themselves mutually understood. The various lines of psychic development start from one common stock whose roots reach back into all the strata of the past. This also explains the psychological parallelisms with animals.</p>
        <p>Taken purely psychologically, it means that mankind has common instincts of imagination and of action. All conscious imagination and action have been developed with these unconscious archetypal images as their basis, and always remain bound up with them. This condition ensures a primitive health of the psyche, which, however, immediately becomes lack of adaptation as soon as circumstances arise calling for a higher moral effort. Instincts suffice only for the individual embedded in nature, which, on the whole, remains always the same. An individual who is more guided by unconscious than by conscious choice tends therefore towards marked psychic conservatism. This is the reason the primitive does not change in the course of thousands of years, and it is also the reason why he fears everything strange and unusual.</p>
        <p><sub>-C.G. Jung</sub></p>
      </article>
    </section>
    <section class="col-md-9">
      <article>
        <h3>Personal and Collective Unconscious</h3>
        <p>At first the concept of the unconscious was limited to denoting the state of repressed or forgotten contents. Even with Freud, who makes the unconscious - at least metaphorically - take the stage as the acting subject, it is really nothing but the gathering place of forgotten and repressed contents, and has a functional significance thanks only to these. For Freud, accordingly, the unconscious is of an exclusively personal nature, although he was aware of its archaic and mythological thought-forms.</p>
        <p>A more or less superficial layer of the unconscious is undoubtedly personal. I call it the personal unconscious. But this personal unconscious rests upon a deeper layer, which does not derive from personal experience and is not a personal acquisition but is inborn. This deeper layer I call the collective unconscious. I have chosen the term "collective" because this part of the unconscious is not individual but universal; in contrast to the personal psyche, it has contents and modes of behaviour that are more or less the same everywhere and in all individuals. It is, in other words, identical in all men and thus constitutes a common psychic substrate of a suprapersonal nature which is present in every one of us.</p>
        <p><sub>-C.G. Jung</sub></p>
      </article>
      <article>
        <h3>About the term 'archetype'</h3>
        <p>The term "archetype" occurs as early as Philo Judaeus, with reference to the Imago Dei (God-image) in man. It can also be found in Irenaeus, who says: "The creator of the world did not fashion these things directly from himself but copied them from archetypes outside himself." In the Corpus Hermeticum, God is called … (archetypal light). The term occurs several times in Dionysius the Areopagite, as for instance in De caelesti  hierarchia, II, 4: "immaterial Archetypes," and in De divinis nominibus, I, 6:  "Archetypal stone." The term "archetype" is not found in St. Augustine, but the idea of it is. Thus in De diversis quaestionibus LXXXIII he speaks of "ideae principales, 'which are themselves not formed… but are contained in the divine understanding.'" "Archetype" is an explanatory paraphrase of the Platonic eidos. For our purposes this term is apposite and helpful, because it tells us that so far as the collective unconscious contents are concerned we are dealing with archaic or- I would say- primordial types, that is, with universal images that have existed since the remotest times. The term "representations collectives," used by Levy-Bruhl to denote the symbolic figures in the primitive view of the world, could easily be applied to unconscious contents as well, since it means practically the same thing.</p>
        <p>Another well-known expression of the archetypes is myth and fairytale. But here too we are dealing with forms that have received a specific stamp and have been handed down through long periods of time. The term "archetype" thus applies only indirectly to the "representations collectives," since it designates only those psychic contents which have not yet been submitted to conscious elaboration and are therefore an immediate datum of psychic experience.</p>
        <p><sub>-C.G. Jung</sub></p>
      </article>
      <article>
        <h3>About the Transference (with reference to Sigmund Freud)</h3>
        <p>Practical analysis has shown that unconscious contents are invariably projected at first upon concrete persons and situations. Many projections can ultimately be integrated back into the individual once he has recognized their subjective origin; others resist integration, and although they may be detached from their original objects, they thereupon transfer themselves to the doctor. Among these contents the relation to the parent of opposite sex plays a particularly important part, i.e., the relation of son to mother, daughter to father, and also that of brother to sister. As a rule this complex cannot be integrated completely, since the doctor is nearly always put in the place of the father, the brother, and even (though naturally more rarely) the mother. Experience has shown that this projection persists with all its original intensity (which Freud regarded as aetiological), thus creating a bond that corresponds in every respect to the initial infantile relationship, with a tendency to recapitulate all the experiences of childhood on the doctor. In other words, the neurotic maladjustment of the patient is now transferred to him. Freud, who was the first to recognize and describe this phenomenon, coined the term "transference neurosis."</p>
        <p>This bond is often of such intensity that we could almost speak of a "combination." When two chemical substances combine, both are altered. This is precisely what happens in the transference. Freud rightly recognized that this bond is of the greatest therapeutic importance in that it gives rise to a mixtum compositum of the doctor's own mental health and the patient's maladjustment. In Freudian technique the doctor tries to ward off the transference as much as possible - which is understandable enough from the human point of view, though in certain cases it may considerably impair the therapeutic effect. It is inevitable that the doctor should be influenced to a certain extent and even that his nervous health should suffer.</p>
        <p>He quite literally "takes over" the sufferings of his patient and shares them with him. For this reason he runs a risk - and must run it in the nature of things.</p>
        <p><sub>-C.G. Jung</sub></p>
      </article>
    </section>
  </div>
</div>